<div qv-extension ng-cloak>

    <div class="link" ng-show="isLoading || (!isLoading && linkedApps.length > 0)">
        <div class="qv-loader" ng-show="isLoading">&#160;</div>
        <a ng-click="openStage($event)">
            <img src="/extensions/AppLinker/img/linker.png" />
        </a>
    </div>

    <div ng-show="((isConfiguredApps() && linkedApps.length === 0) || !isConfiguredApps()) && !isLoading">
        <span style="font-size: 8pt">NO APPS FOUND</span>
    </div>

    <div class="applinker-transferring" id="applinker-transferring-{{$parent.options.id}}" style="display:none">
        <div class="transferring-inner">
            <div class="info">Please wait whilst your selection details are transferred and your app is opened</div>
            <div class="qv-loader" style="width: 50px; height: 50px;">&#160;</div>
        </div>
    </div>

    <!-- NEW -->
    <div class="applinker-stage" id="applinker-stage-{{$parent.options.id}}" style="display:none">

        <div class="close-applinker-stage" style="color: white; font-size: 20px; cursor: pointer">
            <a href="javascript:void(0)" style="position: fixed;top: 50px;z-index: 9999;right: 12px;width: auto;">
                <img src="/extensions/AppLinker/img/icon-close.png"  />
            </a>
        </div>

        <section ng-repeat="currentApp in linkedApps track by $index">
            <header>
                <h2>{{currentApp.qTitle}}</h2>
            </header>
            <div>
                <a class="img-frame" ng-click="openLinkedApp(currentApp, $event)" title="Open {{currentApp.qTitle}} transferring {{currentApp.transferableCount}} of {{selectedItemCount}}">
                    <img ng-src="{{currentApp.thumbnail}}" alt="" />
                </a>
                <!-- {{currentApp}} -->
                <div class="selections-panel" ng-if="currentApp.selectedItems.length > 0">
                    <h2>Transferable selections: {{currentApp.transferableCount}} of {{selectedItemCount}}</h2>
                    <div class="selections">
                        <span ng-repeat="currentIntersect in currentApp.selectedItems" ng-class="currentIntersect.isTransferable ? 'transferable' : ''">{{currentIntersect.fieldName}}</span>
                    </div>
                </div>

                <div class="intersections" ng-if="currentApp.intersectedItems.length === 0">
                    <span>No current selections will be transferred</span>
                </div>
            </div>
        </section>
    </div>

</div>
